*{
    text-align: center;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}
header, nav, section, aside, footer {
    background: #ebebeb;
}
header{
    font-family: sans-serif;
    color: #777;
}
article{
    background: #777;
    color: white;
}
nav{
    font-family: sans-serif;
    color: #777;
}
aside{
    font-family: sans-serif;
    color: #777;
    float: right;
    width: 440px;
    height:272px;
}
section{
    font-family: sans-serif;
    color: #777;
    width: 495px;
}
.container{
    font-family: sans-serif;
    color: #777;
}
.headings{
    font-family: sans-serif;
    color: #777;
    background-color: #ebebeb;
}
.content{
    font-family: sans-serif;
    color: #777;
    background-color: #ebebeb;
}
.content .headings p{
    color: #777;
    background: #ebebeb;
    margin-top: 5px;
    line-height: 50px;
}
footer{
    font-family: sans-serif;
    color: #777;
    position: relative;
    margin-top: -10px;
    height: 75px;
    background: ;
}